# ==========================
# Dataset
# ==========================
dataset/

# ==========================
# Trained models
# ==========================
*.h5
*.hdf5
*.keras
*.pth
*.pt
*.ckpt

# Model folders
saved_models/
new_saved_models/

# ==========================
# Python cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual environments
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log